.fundo-app {
    background-color: #066ac1;
    color: #f8f9fa;
}

.top {
    display: flex;
    align-items: center;
    background-color: rgb(5, 69, 129);
    padding: 15px 30px;
}

@media (max-width: 600px) {
    .top{
        flex-direction: column;
        gap: 10px;
    }
}

.top h1 {
    color: rgb(21, 230, 230);
    font-size: 32px;
    text-align: center;
    margin-left: 10px;
}
.table-responsive thead tr{
    background-color: rgb(5, 69, 129) !important;
}

#form-editar {
    display: none;
}

#form-editar h3 {
    color: rgb(21, 230, 230);
    font-size: 32px;
    text-align: center;
}

.botao {
    display: flex;
    margin-left: auto;
    gap: 10px;
}
.botao a {
    background: blue;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;

}

.botao a:hover {
    background-color: #066ac1;
}

.acoes {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}

@media (max-width:600px){
    .acoes{
        flex-direction: column;
    }
}

.container {
    background-color: #066ac1;
    color: #f8f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.tela-login {
    background-color: white;
    width: 300px;
    height: 500px;
    box-shadow: 0 0 10px 10px black;
    border-radius: 20px;
}

.tela-login img {
    width: 300px;
    border-radius: 20px;
}


.titulo {
    position: relative;
    top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-align: center;
}


.botao-login {
    display: flex;
    position: relative;
    top: 100px;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 20px;
    align-items: center;
}

.login-cadastro {
    position: relative;
    top: 50px;
}

.form-login{
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.form-login label {
    color: black;
    display: flex;
    right: 70px;
    position: relative;
}

.show-password {
    position: absolute;
    top: 110px;
    right: 60px;
    max-width: 20px;

}
