<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/estilos.css">
    <title>Buscar contatos</title>
</head>

<body class="fundo-app">
    <header class="top">
        <button onclick="history.back()" class="btn btn-secondary btn-sm ml-4">Voltar</button>
        <h1>Dados completos</h1>
    </header>
    <form id="entrada" class="d-flex flex-column align-items-center gap-4">
        <label class="py-1 fs-4">Buscar</label>
        <input type="number" id="buscar" class="form-control w-50" placeholder="Digite o ID para visualizar completos">
        <button type="submit" class="btn btn-primary  px-4 mb-3">Buscar</button>
    </form>
    <div class="table-responsive">
        <table class="table table-striped table-houver text-center">
            <thead>
                <tr>
                    <th>id#</th>
                    <th>nome</th>
                    <th>idade</th>
                    <th>telefone</th>
                    <th>email</th>
                    <th>endereco</th>
                    <th>observação</th>
                    <th>Opção</th>
                </tr>
            </thead>

            <tbody id="busca_contato">

            </tbody>
        </table>
    </div>
    <div id="form-editar" class="container-fluid mt-5">
        <div class="row justify-content-center">
            <div class=" col-12 col-md-6">
                <form class="border p-4 gap-2">
                    <h3>Editar contato</h3>

                    <div class=" mb-3">
                        <input type="hidden" id="edit-id">
                    </div>
                    <div class=" mb-3">
                        <label class="form-label">Nome</label>
                        <input type="text" id="edit-nome" class="form-control" placeholder="Nome">
                    </div>
                    <div class=" mb-3">
                        <label class="form-label">Nascimento</label>
                        <input type="date" name="nascimento" id="edit-nascimento" class="form-control" placeholder="Nascimento">
                    </div>
                    <div class=" mb-3">
                        <label class="form-label">Telefone</label>
                        <input type="text" id="edit-telefone" class="form-control" placeholder="Telefone">
                    </div>
                    <div class=" mb-3">
                        <label class="form-label">E-mail</label>
                        <input type="email" id="edit-email" class="form-control" placeholder="Email">
                    </div>
                    <div class=" mb-3">
                        <label class="form-label">Endereco</label>
                        <input type="text" id="edit-endereco" class="form-control" placeholder="Endereco">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Observação</label>
                        <input type="text" id="edit-observacao" class="form-control" placeholder="Observacao">
                    </div>
                    <div class="text-center mb-3">
                        <button type="button" class="btn btn-primary px-4 mb-3 " onclick="salvarEdicao()">Salvar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>

<script src="/static/js/busca_dado.js"></script>

</html>