<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar-login</title>
</head>
<body>
    <h2>Criar conta login</h2>
    <form id="form-login-cadastro">
           <input type="text" id="username" placeholder="Nome Usuário" <br><br>             
           <input type="password" id="password" placeholder="Senha do usuário" <br><br>  
           <button type="submit">Entrar</button>       
        </form>

        <p id="msg"></p>
</body>
<script src="static/js/cadastro_login.js"></script>
</html>