<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/estilos.css">
    <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Cadastrar-login</title>
</head>

<body class="container">
    <div class="tela-login" style="border: 2px solid red;">

        <div class="titulo">
            <h2>Criar conta</h2>
            <p>Crie uma conta para explorar o seu agenda</p>
        </div>
        <div class="login-cadastro">
            <form id="form-login-cadastro" class="form-login">
                <label for="username">Usuario</label>
                <input type="text" id="username" placeholder="Digite o usuario">
                <label for="password">Senha</label>
                <input type="password" id="password" placeholder="Digite a senha">
                <img class="show-password" id="show-password" src="/static/img/show-password.png">
                <button type="submit" class="btn btn-secondary">Cadastrar</button>
                <a href="/">Tem conta login</a>
            </form>
        </div>
    </div>

        <p id="msg"></p>
</body>
<script src="static/js/cadastro_login.js"></script>

</html>